<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <main>
      <div class="container">
        <h1>URL Shortener</h1>
        <div class="container__control">
          <div class="container__input">
            <label for="fullUrl" aria-hidden="false">URL</label>
            <input
              type="url"
              id="fullUrl"
              placeholder="https://example.com"
              required
            />
          </div>
          <div class="container__btn">
            <span> Shorten Url </span>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
